{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Blockchain Labs" "subtitle" "by R/GA") }}

{{ partial "short-text" (dict "heading" "What's this?" "text" "Some sort of smart but short explanation. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quibusdam, sunt sint dolorem qui vero odio eaque inventore eveniet eligendi.")}}

{{ partial "2-up" (dict "heading" "What is blockchain" "description" "The blockchain is an incorruptible digital ledger of economic transactions that can be programmed to record not just financial transactions but virtually everything of value." "buttonText" "Read more" "buttonLink" "/about"  ) }}

<!--{{ partial "text-and-image" (dict "heading" "Our values" "text" "Coffee is an amazing part of human culture but it has a dark side too – one of colonialism and mindless abuse of natural resources and human lives. We want to turn this around and return the coffee trade to the drink’s exhilarating, empowering and unifying nature." "buttonText" "Read more" "buttonLink" "/values") }}-->

{{ partial "footer" . }}
